<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
	<h1>Cadastre o seu evento!</h1>
	<form action="">

		<div>
			<label>Nome:</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Email:</label> <input type="text" name="email">
		</div>
		<div>
			<label>Celular:</label> <input type="text" name="celular">
		</div>
		<div>
			<label>Serviço:</label> <input type="text" name="servico">
		</div>
		<div>
		<button type="submit">Enviar cadastro!</button>
		<button type="reset">Limpar seção!</button>
		</div>
	</form>
</body>
</html>