<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<title>Evento</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">

		<h4>ADA Eventos agradece a sua escolha. Logo mais, entraremos em contato! :)</h4>
		<h5>Que tal conferir alguns eventos já realizados por nós?</h5>

		<div class="row">
			<div class="col s12">
				<div class="teal lighten-3">
					<div class="container card-content black-text">
						<span class="card-title"> </span>
						<div>
							<h5>ㅤ</h5>
							<h4>Casamento:</h4>
							<h6>(em média, 150 convidados)</h6>
							<h5>Fotografia e filmagem: R$1500,00</h5>
							<h5>Ornamentação da festa: R$3000,00</h5>
							<h5>Ornamentação cerimônia: R$2600,00</h5>
							<h5>Banda/DJ: R$3500,00</h5>
							<h5>Buffet: R$3800,00</h5>
							<h4>ㅤ</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	<div class="row">
			<div class="col s12">
				<div class="teal lighten-3">
					<div class="container card-content black-text">
						<span class="card-title"> </span>
						<div>
							<h5>ㅤ</h5>
							<h4>Formatura:</h4>
							<h6>(em média, 30 convidados)</h6>
							<h5>Fotografia e filmagem: R$800,00</h5>
							<h5>Ornamentação da festa: R$1000,00</h5>
							<h5>Banda/DJ: R$2500,00</h5>
							<h5>Jantar: R$500,00</h5>
							<h4>ㅤ</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12">
				<div class="teal lighten-3">
					<div class="container card-content black-text">
						<span class="card-title"> </span>
						<div>
							<h5>ㅤ</h5>
							<h4>Aniversário:</h4>
							<h6>(em média, 60 convidados)</h6>
							<h5>Fotografia e filmagem: R$600,00</h5>
							<h5>Ornamentação da festa: R$1200,00</h5>
							<h5>Banda/DJ: R$1500,00</h5>
							<h5>Comes e Bebes: R$1000,00</h5>
							<h4>ㅤ</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col s12">
				<div class="teal lighten-3">
					<div class="container card-content black-text">
						<span class="card-title"> </span>
						<div>
							<h5>ㅤ</h5>
							<h4>Evento empresarial:</h4>
							<h6>(em média, 30 convidados)</h6>
							<h5>Ornamentação da festa: R$400,00</h5>
							<h5>Banda/DJ: R$800,00</h5>
							<h5>Comes e Bebes: R$700,00</h5>
							<h5>Open Bar: R$1200,00</h5>
							<h4>ㅤ</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="teal lighten-3">
					<div class="container card-content black-text">
						<span class="card-title"> </span>
						<div>
							<h5>ㅤ</h5>
							<h4>Chá de bebê:</h4>
							<h6>(em média, 30 convidados)</h6>
							<h5>Ornamentação da festa: R$300,00</h5>
							<h5>Comes e Bebes: R$600,00</h5>
							<h5>Fotografia e filmagem: R$600,00</h5>
							<h5>Músico(3h): R$300,00</h5>
							<h4>ㅤ</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
</body>
</html>